
// fonts
// $font-main: 'Hind Vadodara', sans-serif;
$font-main: 'Montserrat', sans-serif;
$font-code: 'Oxygen Mono', monospace;

// colors
$b1: #080808;
$b2: #1A1A1A;
$b3: #23241f;
$b4: #3c3c3c;
$b5: #404040;
$b6: #696969;

$c1: #ffc107;
$c2: #ff9800;
$c3: #ff5722;
$c4: #F27E00;